.jumbotron {
  margin-bottom: 0;
}

.footer {
  background-color: #3f51b5;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.main {
  padding: 20px;
}

#catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-img-top {
  width: 100%;
}

@media (max-width: 764px) {
    #catalogo {
    grid-template-columns: 1fr;
  }
}


#mapid { height: 180px; }