ul {
  list-style: none;
  padding: 0;
}
a{
  color: #ff5a60;
}
a:hover{
  color: inherit;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
}

#logo {
  color: #ff5a60;
  font-weight: bold;
}

/* MAIN */

.main {
  margin: 3.75rem 0 0 0;
}

.button-rounded {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  padding: 0 16px;
  transition: box-shadow 0.2s ease;
  color: #ff5a60;
  border: 1px solid #ebebeb;
  text-align: center;

  border-radius: 21px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-rounded:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.18);
}

/* MAP */
.marker {
  background-image: url("../assets/img/house-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* FOOTER */

.footer {
  background-color: white;
  border-top: 1px solid #dddddd;
}

.footer-elements {
  padding: 40px;
}
.footer-link {
  color: #222222;
}

.footer-copyright {
  background-color: #f8f9fa;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}
.footer-copyright a {
  padding: 10px;

}

@media (max-width: 800px) {
  .footer-elements {
    display: none;
  }
}
